/* ---------- GIGWALK CSS ----------  */


/* temporary */

h1 {
	font-family: Helvetica-Neue-Light;
}

.super {
	color: #F60;
}

nav.tabnav {
	background-color: rgba(0, 0, 0, .12);
}


/* base */

html, body {
	font-family: Helvetica-Neue, Arial, sans-serif;
}

/* remove rounded corners */
	
.dropdown-menu,
.navbar-default .navbar-toggle {
	border-radius: 0;
}
	
/* borders */

.navbar-default .navbar-toggle	{
	border: 0px solid transparent;
}

.tabnav  li a {
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.tabnav  li.active a {
	border-right: 1px solid rgba(0, 0, 0, .2);
}


/* colors */

	/* white */
	
	ul.dropdown-menu li.header,
	header nav .number,
	.tabnav li a {
		color: #ffffff;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ffffff;
	}
	
	.navbar-default {
		background: #ffffff;
	}
	
	ul.dropdown-menu li.disabled {
		background: transparent;
	}
	
	.navbar-default {
		border-color: #ffffff;
	}
	
	/* grays */
	
	body,
	a.navly {
		color: #4a4a4a;
	}
	
	.user-role,
	.plainLabel {
		color: #ababab;
	}
	
	.gray-cancel {
		color: #c6c6c6;
	}
	
	.navbar-default .navbar-nav > li > a.dropdown-toggle,
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus, 
	.dropdown-menu > .disabled > a, 
	.dropdown-menu > .disabled > a:hover, 
	.dropdown-menu > .disabled > a:focus {
		color: #9e9e9e;
	}
	
	.sidenav .divider {
		color: #999999;
	}
	
	.sidenav ul a,
	.sidenav ul a:visited {
		color: #4a4a4a;
	}
	
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: #909090;
	}
	
	.disabled {
		background: #dfdfdf;
	}
	
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
		background-color: #f5f5f5;
	}
	
	
	/* reds */
	
	.remove {
		color: #db2023;
	}
	
	.incomplete {
		background: #ff797e;
	}
	
	/* blues */
	
	 a.link,
	 a.navly:hover,
	 a.navly:focus,
	.sidenav ul a:hover,
	.sidenav ul a:focus,
	.sidenav ul .active a,
	.sidenav ul .active a:hover,
	.sidenav ul .active a:focus,
	.sidenav ul .active a:visited {
		color: #4890e2;
	}
	
	header nav .number {
		background: #4890e2;
	}
	
	header nav .dropdown.open {
		background: rgba(74, 144, 226, .2);
	}
	
	.tabnav li a:hover,
	.tabnav li a:focus {
		background: rgba(255, 255, 255, .2);
	}
	
	.tabnav li.active a,
	.tabnav li.active a:hover,
	.tabnav li.active a:focus {
		background: #32b0e8;
	}
	
	.nav-sections li.active {
		border-left: 3px solid #4890e2;
	}
	
	/* greens */
	
	header .nav li.alerts .im,
	header .nav li.messages .im {
		color: #08aa86;
	}
	
	ul.dropdown-menu li.header {
		background: #08aa86;
	}
	
	header .nav li {
		border-left: 1px solid rgba(0, 169, 133, .3)
	}
	
	/* purple */
	
	.required {
		background: #9a5cab;
	}
	
	/* black */
	
	.navbar-default .navbar-toggle {
		background: #000000;
	}
	
	/* gradient */
	
	.tabnav ul {

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2OGFkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzE0YTc5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTlkYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #468ad7 0%, #14a795 70%, #299db3 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#468ad7), color-stop(70%,#14a795), color-stop(100%,#299db3)); 
	background: -webkit-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: -o-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: -ms-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: linear-gradient(to right,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	}
	
	
/* borders */

.sidenav .divider {
	border-top: 1px solid #cccccc;
}


/* fonts */

.nav-sections li.divider,
.tabnav li a {
	font-family: Helvetica-Neue-Light;
}

.regular {
	font-family: Helvetica-Neue;
}

.sidenav .user-name,
.section.title .ti {
	font-family: Helvetica-Neue-Medium;
}

strong {
	font-family: Helvetica-Neue-Bold;
	font-weight: normal !important;
}

.italic {
	font-family: Helvetica-Neue-Italic;
}


/* header */
	
	.navbar > .container-fluid .navbar-brand {
		margin-top: .5em;
		height: 51px;
		width: 162px;
		background: url(../images/logo-header.png) left 0 no-repeat;
	}
	
	.navbar-toggle .icon-bar {
		width: 22px;
		height: 3px;
		border-radius: 1px;
	}
	
	@media (max-width: 767px) {
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
			background: #909090;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #333;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			background-color: #f5f5f5;
		}
		
	}
	
	@media (max-width: 574px) {
		.navbar-default {
			background: #5e5e5e;
		}
		.navbar-default .navbar-collapse {
			background-color: #fbfbfb;
		}
		header .nav li {
			border-left: 0;
			border-right: 1px solid #cccccc;
		}
		header .nav li.dropdown {
			border-right: 0;
		}
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
			background: #909090;
		}
		header nav .dropdown.open {
			padding-left: 0;
			background: transparent;
			border-left: 0;
		}
		header nav .dropdown .user-info {
			margin-left: 15px;
		}
		
	}


/* tab nav heredeb */





/* - - - - - - - - - -
	 CSS3 form hints  
	 can not be combined with each other 
	 or anything else 
	 - - - - - - - - - -
*/

input::-webkit-input-placeholder { 
	color: #dfdfdf;
}

input:-ms-input-placeholder { 
	color: #dfdfdf;
}

input::-moz-placeholder { 
	color: #dfdfdf;
}

input:-ms-input-placeholder {
	color: #dfdfdf;
}

textarea::-webkit-input-placeholder { 
	color: #dfdfdf;
}

textarea:-ms-input-placeholder { 
	color: #dfdfdf;
}

textarea::-moz-placeholder { 
	color: #dfdfdf;
}

textarea:-ms-input-placeholder {
	color: #dfdfdf;
}

input.invalid::-webkit-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

input.invalid:-ms-input-placeholder { 
	color: #f24b41;
	opacity: .9;
}

input.invalid::-moz-placeholder { 
	color: #f24b41;
	opacity: .9;
}

input.invalid:-ms-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

textarea.invalid::-webkit-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

textarea.invalid:-ms-input-placeholder { 
	color: #f24b41;
	opacity: .9;
}

textarea.invalid::-moz-placeholder { 
	color: #f24b41;
	opacity: .9;
}

textarea.invalid:-ms-input-placeholder {
	color: #f24b41;
	opacity: .9;
}



/* ---------- END GIGWALK CSS ----------  */




