/* ---------- GIGWALK CSS ----------  */


/* temporary */ 

.super {
	color: #F60;
}

.super span {
	color: #ff0099;
}

.instructions div.super {
	font-size: 1.4em;
	margin: 1em 0;
	padding: 1em;
	border-top: 8px solid #f60;
	border-bottom: 8px solid #f60;
}

h1.super {
	font-family: Helvetica-Neue-Light;
	font-size: 3em;
}

h2.super {
	font-family: Helvetica-Neue-Light;
	font-size: 2em;
	margin: 0;
}

.instruction.view-mode h2.super:before,
.instruction.edit-mode h2.super:after {
	 content: ' ';
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 clear: both;
	 height: 0;
}

.instruction.edit-mode h2.super {
	margin-bottom: 15px;
}

.subcontent {
	margin-bottom: 5em;
}

.map-holder .map {
	background: url(../../../images/map.gif);
}


/* end temporary */



/* base */

html, body {
	font-family: Helvetica-Neue, Arial, sans-serif;
}

/* remove rounded corners */
	
.dropdown-menu,
.navbar-default .navbar-toggle,
.datepicker,
.datepicker td, 
.datepicker th,
.datepicker td span,
.btn {
	border-radius: 0;
}
	
/* borders */

.sidenav .divider {
	border-top: 1px solid #cccccc;
}

.navbar-default .navbar-toggle	{
	border: 0px solid transparent;
}

.instructions .item .actions a.buttonly {
	border-color: #4890e2;
}

.btn.btn-default.dropdown-toggle {
	border-width: 0px;
}


/* colors */

	/* white */
	
	select,
	.custom-select:before,
	ul.dropdown-menu li.header,
	header nav .number,
	.tabnav li a,
	.btn.btn-default.dropdown-toggle,
	.instructions .header .actions,
	.primary.actions a,
	.icon-buttons a,
	.instructions .item .actions a.buttonly,
	.projects .settings,
	.group a.buttonly,
	.button-holder a.buttonly {
		color: #ffffff;
	}
	
	.navbar-default .navbar-toggle .icon-bar,
	.instruction-content,
	.primary.actions a.cancel,
	.primary.actions a.delete,
	.primary.actions a.delete:hover,
	.primary.actions a.delete:focus {
		background-color: #ffffff;
	}
	
	.navbar-default {
		background: #ffffff;
	}
	
	ul.dropdown-menu li.disabled {
		background: transparent;
	}
	
	.navbar-default {
		border-color: #ffffff;
	}
	
	/* grays */
	
	body,
	a.buttonly,
	.admin .table-list td.location a {
		color: #4a4a4a;
	}
	
	.user-org,
	.plainLabel {
		color: #ababab;
	}
	
	.subnav li a {
		color: #aaaaaa;
	}
	
	.gray-cancel,
	.primary.actions a.cancel,
	.button-holder a.cancel,
	.expander a {
		color: #c6c6c6;
	}
	
	.primary.actions a.cancel,
	.button-holder a.cancel {
		border-color: #c6c6c6;
	}
	
	.navbar-default .navbar-nav > li > a.dropdown-toggle,
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus, 
	.dropdown-menu > .disabled > a, 
	.dropdown-menu > .disabled > a:hover, 
	.dropdown-menu > .disabled > a:focus {
		color: #9e9e9e;
	}
	
	.sidenav .divider {
		color: #999999;
	}
	
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: #909090;
	}
	
	.primary.actions a.disabled,
	.primary.actions a.buttonly.disabled,
	.primary.actions a.buttonly.disabled:hover,
	.primary.actions a.buttonly.disabled:focus,
	.button-holder a.buttonly.disabled,
	.button-holder a.buttonly.disabled:hover,
	.button-holder a.buttonly.disabled:focus {
		background: #dfdfdf;
	}
	
	.primary.actions a.disabled,
	.primary.actions a.buttonly.disabled:hover,
	.primary.actions a.buttonly.disabled:focus,
	.button-holder a.buttonly.disabled,
	.button-holder a.buttonly.disabled:hover,
	.button-holder a.buttonly.disabled:focus {
		border-color: #dfdfdf;
	}
	
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.primary.actions a.cancel:hover,
	.primary.actions a.cancel:focus,
	.button-holder a.cancel:hover,
	.button-holder a.cancel:focus,
	.expander {
		background: #f8f8f8;
	}
	
	
	/* reds */
	
	.remove,
	.remove:hover,
	.item.required > .plainLabel:after,
	.tab-pane.actions .detail:before {
		color: #db2023;
	}
	
	.invalid input[type="text"],
	.invalid input[type="textarea"] {
		color: #ff5056;
	}
	
	.instruction.incomplete .arrow,
	.instruction.required.incomplete .arrow,
	.instruction.incomplete .header .controls .ti,
	.instruction.required.incomplete .header .controls .ti {
		color: #fe8e92;
	}
	
	.primary.actions a.delete,
	.messages .message.problem,
	.action.panel .warning,
	.tab-pane.actions .warning,
	.choose-dates .warning,
	.Tickets .dash td.status span.expired:before {
		color: #ff5157;
	}
	
	.messages .problem span.exclaim:before {
		background: #ff5157;
	}
	
	.instruction.incomplete .header,
	.instruction.required.incomplete .header,
	.invalid .btn.btn-default.dropdown-toggle {
		background: #ff797e;
	}
	
	.pin.expired:after {
		color: #ff5157;
	}
	
	.key.expired:before {
		background: #ff5157;
	}
	
	.invalid input[type="text"],
	.invalid input[type="textarea"] {
		border-color:  #fe8e92;
	}
	
	.messages .message.problem {
		background: #ffe5e6;
	}
	
	.messages .message.problem span.exclaim {
		color: #ffe5e6;
	}
	
	/* blues */
	
	.step .arrow {
		color: #59beec;
	}
	
	.step .header {
		background: #59beec;
	}
	
	 a,
	 a:hover,
	 a:focus,
	 a.link,
	 a.link:hover,
	 a.navly,
	 a.navly:focus,
	 .iconly,
	 a.iconly,
	 a.iconly:hover,
	 .dropdown-menu > li > a.link,
	 .dropdown-menu > li > a.link:hover,
	 .pin.submitted:after,
	 .filters-choices,
	 .filters-choices .icon-cancel:before,
	 .choose-dates .quick-select a,
	 .map .nav-tabs > li.active > a:before,
	 .table-list .controls .actions.active a {
		color: #4890e2;
	}
	
	header nav .number,
	.group a.buttonly,
	.filter.dropdown .caret,
	.filter.search .icon-search,
	.key.submitted:before,
	.map .nav-tabs > li > a {
		background: #4890e2;
	}
	
	.map .nav-tabs > li > a:hover,
	.map .nav-tabs > li > a:focus {
		background: #539ce9;
	}
	
	select,
	.btn.btn-default.dropdown-toggle,
	.instructions .item .actions a.buttonly,
	.filters-holder .view a.active,
	.filters-holder .view a.active:hover,
	.filters-holder .view a.active:focus,
	.filter.dates {
		background-color: #4890e2;
	}
	
	.filters-holder .view a:hover,
	.filters-holder .view a:active,
	.filters-choices .choice,
	.filters-choices .choice .close,
	.pagination .previous,
	.pagination .next {
		background-color: #f2f7fd;
	}
	
	.pagination .previous,
	.pagination .next {
		border-color: rgba(64, 145, 230, .2);
	}
	
	.filters-choices .choice .close:hover,
	.filters-choices .choice .close:focus,
	.choose-dates .quick-select a,
	.pagination .previous:hover,
	.pagination .previous:focus,
	.pagination .next:hover,
	.pagination .next:focus {
		background-color: #d9e9fa;
	}
	
	.datepicker td.active, 
	.datepicker td.active.active,
	.datepicker td.active:hover,
	.datepicker td span.active,
	.datepicker td.active:hover,
	.datepicker td.active:hover:hover,
	.datepicker td.active:focus,
	.datepicker td.active:hover:focus,
	.datepicker td.active:active,
	.datepicker td.active:hover:active,
	.datepicker td.active.active,
	.datepicker td.active:hover.active,
	.datepicker td.active.disabled,
	.datepicker td.active:hover.disabled,
	.datepicker td.active[disabled],
	.datepicker td.active:hover[disabled],
	.datepicker td span.active:hover, 
	.datepicker td span.active:focus, 
	.datepicker td span.active:active, 
	.datepicker td span.active.active, 
	.datepicker td span.active.disabled, 
	.datepicker td span.active[disabled] {
		background-color: #4890e2;
		background-image: none;
	}
	
	header nav .dropdown.open {
		background: rgba(74, 144, 226, .2);
	}
	
	.tabnav li.active,
	.tabnav li.active:hover,
	.tabnav li.active:focus {
		background: #32b0e8;
	}
	
	.filters-holder .view a,
	.filters-choices .choice,
	.filters-choices .choice .close {
		border-color: #4890e2;
	}
	
	.nav-sections li.active {
		border-left-color: #4890e2;
	}
	
	.pin.unassigned:after {
		color: #256aa8;
	}
	
	.key.unassigned:before {
		background: #256aa8;
	}
	
	.instructions .item .actions a.buttonly:hover,
	.instructions .item .actions a.buttonly:focus,
	.group a.buttonly:hover,
	.group a.buttonly:focus,
	.filter.dates:hover,
	.filter.dates:focus {
		background: #2771da;
	}
	
	/* greens */
	
	header .nav li.alerts .im,
	header .nav li.messages .im,
	.subnav li.active a,
	.instruction-footer .item.count .described,
	.instruction.view-mode .answer.exception .plainLabel:after,
	.pin.scheduled:after,
	.admin .pin.paused:after,
	.confirmation h1,
	.confirmation .icon-checkmark,
	.Tickets .dash td.status span.submitted:before,
	.map .requirements-list li:before,
	.map .tab-pane .due .value,
	.map .tab-pane .estimated .value,
	.map .tab-pane .scheduled .value,
	.tab-pane .confirm {
		color: #07a985;
	}
	
	.instruction .arrow,
	.instruction .header .controls .ti {
		color: #39af95;
	}
	
	ul.dropdown-menu li.header,
	input.supercheck:checked:after,
	input[type="checkbox"]:checked:after,
	.primary.actions a,
	.instruction-footer .icon-checkmark,
	.instruction .header,
	.key.scheduled:before,
	.choose-dates .actions a,
	.map .tab-pane a.buttonly.main,
	.button-holder a.buttonly {
		background: #00a584;
	}
	
	.primary.actions a:hover,
	.primary.actions a:focus,
	.button-holder a:hover,
	.button-holder a:focus,
	.choose-dates .actions a:hover,
	.choose-dates .actions a:focus,
	.tab-pane a.buttonly.main:hover,
	.tab-pane a.buttonly.main:focus {
		background: #119676;
	}
	
	header .nav li {
		border-left-color: rgba(0, 169, 133, .3);
	}
	
	input.supercheck:checked:after,
	input[type="checkbox"]:checked:after,
	.primary.actions a,
	.subnav li.active a,
	.subnav,
	.subnav li.active,
	.button-holder a,
	.button-holder a.buttonly:hover,
	.button-holder a.buttonly:focus {
		border-color: #08aa86;
	}
	
	input[type="radio"]:checked:after {
		border: 6px solid #08aa86;
	}
	
	input[type="radio"]:checked:after {
		background: #84d5c3;
	}
	
	.Tickets .dash td.status span.started:before,
	.admin .Tickets .dash td.status span.started.paused:before {
		color: #8ad7c5;
	}
	
	.messages .message.confirmation,
	.tab-pane.actions .confirm {
		background: #dbf2ed;
	}
	
	/* purple */
	
	.instruction.required .arrow,
	.instruction.required .controls .ti {
		color: #ae7dbc;
	}
	
	.pin.unscheduled:after {
		color: #9a5cab;
	}
	
	.instruction.required .header,
	.key.unscheduled:before {
		background: #9a5cab;
	}
	
	/* yellow */
	
	.Tickets .dash td.status span.started.paused:before,
	.pin.paused:after {
		color: #febb11;
	}
	
	.key.paused:before {
		background: #febb11;
	}
	
	/* black */
	
	.navbar-default .navbar-toggle {
		background: #000000;
	}
	
	/* gradient */
	
	.tabnav ul {

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2OGFkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzE0YTc5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTlkYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #468ad7 0%, #14a795 70%, #299db3 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#468ad7), color-stop(70%,#14a795), color-stop(100%,#299db3)); 
	background: -webkit-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: -o-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: -ms-linear-gradient(left,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	background: linear-gradient(to right,  #468ad7 0%,#14a795 70%,#299db3 100%); 
	}
	

/* fonts */

.nav-sections li.divider,
.tabnav li a,
.tabnav .btn.btn-default.dropdown-toggle,
.header .actions .ti,
.subnav li,
.filters-holder .view a,
.filter.dropdown .btn.btn-default.dropdown-toggle,
.filter.search,
.keys .key,
.filters-choices .value,
.table-list .controls .actions,
.filters-choices .selection .detail,
.table-list td,
.map .tab-pane .ticketlink,
.map .tab-pane.actions .iconButton {
	font-family: Helvetica-Neue-Light;
}

.regular,
select option,
.subcontent.sub .subnav li,
.tabnav li .dropdown li a {
	font-family: Helvetica-Neue;
}

.sidenav .user-name,
.remove,
.iconly,
.instruction-footer,
.messages .problem span.exclaim {
	font-family: Helvetica-Neue-Medium;
}

.datepicker tr th.switch,
.instruction-footer .item.count .described,
.table-list .controls .summary .selected span {
	font-family: Helvetica-Neue-Bold;
	font-weight: normal !important;
}

.italic,
.group.materials .mini-panel .ti.name {
	font-family: Helvetica-Neue-Italic;
}


/* header */
	
	.navbar > .container-fluid .navbar-brand {
		background: url(../images/logo-header.png) left 0 no-repeat;
	}
	
	.navbar-toggle .icon-bar {
		width: 22px;
		height: 3px;
		border-radius: 1px;
	}
	
	
/* header */

@media (min-width: 665px) { 

	.sidenav ul a:hover,
	.sidenav ul a:focus,
	.sidenav ul .active a,
	.sidenav ul .active a:hover,
	.sidenav ul .active a:focus,
	.sidenav ul .active a:visited {
		color: #4890e2;
	}
	
	.sidenav ul a,
	.sidenav ul a:visited {
		color: #4a4a4a;
	}

}

@media (max-width: 767px) {
	
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: #909090;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #4890e2;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: #f5f5f5;
	}
	
}

@media (max-width: 664px) {
	
	/* navs */
	
	.navbar-default {
		background: #5e5e5e;
	}
	
	.navbar-default .navbar-collapse {
		background-color: #fbfbfb;
	}
	
	header .nav li {
		border-left: 0;
		border-right: 1px solid #cccccc;
	}
	
	header .nav .dropdown-menu li,
	header .nav li.dropdown {
		border-right: 0px solid transparent;
	}
	
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: #909090;
	}
	
	header nav .dropdown.open {
		padding-left: 0;
		background: transparent;
		border-left: 0;
	}
	
	header nav .dropdown .user-info {
		margin-left: 15px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.sidenav ul a,
	.sidenav ul a:visited {
		color: #4890e2;
	}
	
	.sidenav li:hover,
	.sidenav li:focus {
		background: #f5f5f5;
	}
	
	/* project builder */
	
	.editable:after {
		color: #4890e2;
	}
	
}







/* ---------- END GIGWALK CSS ----------  */




