/* ---------- APP GLYPHS CSS ---------- */


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6lck2c');
	src:url('../fonts/icomoon.eot?#iefix-6lck2c') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6lck2c') format('woff'),
		url('../fonts/icomoon.ttf?-6lck2c') format('truetype'),
		url('../fonts/icomoon.svg?-6lck2c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.im,
.caret,
.custom-select:before,
.editable:after,
.checker .supercheck:after,
.nav-active-holder:after,
.instruction.view-mode .answer.exception .plainLabel:after,
.iconly:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
	content: "\e60f";
}
.collapsed .icon-arrow-up:before,
.icon-arrow-down:before,
.caret:before,
.custom-select:before,
.nav-active-holder:after {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-bell:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-close-alt:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-dragger:before {
	content: "\e606";
}
.icon-duplicate:before {
	content: "\e607";
}
.editable:after,
.icon-edit:before {
	content: "\e608";
}
.icon-email:before {
	content: "\e609";
}
.icon-expand-all:before {
	content: "\e60a";
}
.icon-lock:before {
	content: "\e60b";
}
.icon-pencil-box:before {
	content: "\e60c";
}
.icon-settings:before {
	content: "\e60d";
}
.icon-trash:before {
	content: "\e60e";
}
.icon-building:before {
	content: "\e610";
}
.icon-map-pin:before {
	content: "\e611";
}
.icon-people:before {
	content: "\e612";
}
.icon-camera:before {
	content: "\e613";
}
.instruction.view-mode .answer.exception .plainLabel:after,
.iconly.set-exceptions:before,
.icon-flag:before {
	content: "\e614";
}
.icon-magnify:before {
	content: "\e615";
}
.icon-lightning-strike:before {
	content: "\e616";
}
.icon-barcode:before {
	content: "\e617";
}




/* paste new characters just above this line */




/* ---------- END APP-GLYPHS.CSS ---------- */
