/* ---------- APP GLYPHS CSS ---------- */


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6lck2c');
	src:url('../fonts/icomoon.eot?#iefix-6lck2c') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6lck2c') format('woff'),
		url('../fonts/icomoon.ttf?-6lck2c') format('truetype'),
		url('../fonts/icomoon.svg?-6lck2c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.im,
.caret,
.custom-select:before,
.editable:after,
.checker .supercheck:after,
.nav-active-holder:after,
.instruction.view-mode .answer.exception .plainLabel:after,
.iconly:before,
.pin:before,
.iconButton:before,
th.sorting:after,
.Tickets .dash td.status span:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
	content: "\e612";
}
.collapsed .icon-arrow-up:before,
.icon-arrow-down:before,
.caret:before,
.custom-select:before,
.nav-active-holder:after {
	content: "\e613";
}
.icon-arrow-up:before {
	content: "\e614";
}
.icon-bell:before {
	content: "\e615";
}
.Tickets .dash td.status span:before,
.admin .Tickets .dash td.status span.started.paused:before, 
.icon-checkmark:before {
	content: "\e616";
}
.icon-close-alt:before {
	content: "\e617";
}
.icon-close:before {
	content: "\e618";
}
.icon-dragger:before {
	content: "\e619";
}
.icon-duplicate:before {
	content: "\e61a";
}
.editable:after,
.icon-edit:before {
	content: "\e61b";
}
.icon-email:before {
	content: "\e61c";
}
th.sorting:after,
.icon-expand-all:before {
	content: "\e61d";
}
.icon-lock:before {
	content: "\e61e";
}
.icon-pencil-box:before {
	content: "\e61f";
}
.icon-settings:before {
	content: "\e620";
}
.icon-trash:before {
	content: "\e621";
}
.icon-building:before {
	content: "\e622";
}
.icon-map-pin:before {
	content: "\e623";
}
.pin:before,
.icon-map-pin-solid:before {
	content: "\e625";
}
.iconButton.assign:before,
.icon-people:before {
	content: "\e624";
}
.icon-camera:before {
	content: "\e60f";
}
.instruction.view-mode .answer.exception .plainLabel:after,
.iconly.set-exceptions:before,
.icon-flag:before {
	content: "\e611";
}
.icon-magnify:before {
	content: "\e60e";
}
.icon-lightning-strike:before {
	content: "\e60d";
}
.icon-barcode:before {
	content: "\e610";
}
.Tickets .dash td.status span.started.paused:before,
.icon-pause:before {
	content: "\e600";
}
.iconButton.cancel:before,
.icon-cancel:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.iconButton.unassign:before,
.icon-assign:before {
	content: "\e603";
}
.iconButton.print:before,
.icon-print:before {
	content: "\e604";
}
.iconButton.schedule:before,
.iconButton.calendar:before,
.iconButton.extend:before,
.icon-calendar:before,
.icon-schedule:before,
.icon-extend:before {
	content: "\e605";
}
.iconButton.comment:before,
.icon-comment:before {
	content: "\e606";
}
.icon-lightning-solid:before {
	content: "\e607";
}
.icon-direction:before {
	content: "\e608";
}
.icon-list:before {
	content: "\e609";
}
.icon-ticket:before {
	content: "\e60a";
}
.icon-info:before {
	content: "\e60b";
}
.icon-gig:before {
	content: "\e60c";
}
.icon-previous:before {
	content: "\e626";
}
.icon-next:before {
	content: "\e627";
}


/* paste new characters just above this line */




/* ---------- END APP-GLYPHS.CSS ---------- */
