/* ---------- CORE APP CSS ---------- */


/* fix iOS orientation resize bug */
html, body {
	-webkit-text-size-adjust: 100%;
}

/* everywhere */

html, body {
	font-family: Helvetica-Neue, Arial, sans-serif;
	background: #ffffff;
}

.hide,
header nav .user-edit,
.set-repeats,
.tabnav .dropdown ul.dropdown-menu,
.instruction.view-mode .editing.icon-buttons,
.instruction.edit-mode .viewing.icon-buttons,
.instruction.view-mode .instruction-footer .primary.actions,
.instruction.edit-mode .instruction-footer .instruction-summary {
	display: none;
}

body {
	font-size: 1.4em;
}

.header .actions .ti,
.instructions .item .actions a.buttonly {
	font-size: 1.2em;
}

.nav-sections,
.group,
.instruction-content {
	font-size: 1.15em;
}

.sidenav .user-name {
	line-height: 1em; 
}

.group .sub .selected-item,
.instruction .sub .selected-item,
.description .value,
.plainLabel,
.instruction .header .actions .ti {
	line-height: 1.2em;
}

label {
	font-weight: normal;
}

.center,
.expander,
.instruction .dragger,
.time-estimate input[type="text"],
.instruction.view-mode input.datepicker,
.instruction.view-mode .numeric input,
.instruction.view-mode .time input {
	text-align: center;
}

nav li a,
nav li a:hover,
nav li a:focus,
nav li a:visited,
a.navly,
.remove,
.iconly,
a.iconly,
a.iconly:hover,
a.iconly:focus,
.dropdown-menu .link,
a.buttonly,
.icon-buttons a {
	text-decoration: none;
}

.primary.actions a.linkly,
.dropdown-menu .link:hover,
a.iconly span:hover,
a.iconly span:focus {
	text-decoration: underline;
}

.tabnav li .dropdown li a {
	white-space: normal;
}

header .user-name,
header .user-org,
.tabnav .dropdownly .dropdown-toggle {
	text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
}

.hellomouse,
.editable:hover, 
.header .controls .ti,
.header .dragger,
.header .arrow,
select:hover,
select:focus,
.nav-active-holder {
	cursor: pointer;
}

.defaultmouse,
a.disabled,
.tabnav li.active a {
	cursor: default;
}

.clearfix:after,
.section.title:after,
.group:after,
.repeats-selection:after,
.sidenav .user-info:after,
.repeats.group:before,
.sidenav ul.nav-sections:before,
.group .sub:after,
.instruction .item .sub:after,
.group.additional .sub .checker:after,
.header .actions:after,
.item .sub.more-info:after,
.primary.actions:after,
.subnav:after,
.set-repeats .ends:after,
.group.materials .mini-panel .wrapper:after,
.instruction-footer:after,
.instruction.view-mode .inner:after,
.instruction.view-mode .type:after,
.instruction.view-mode .target:after,
.instruction.view-mode .target .answers:after,
.instruction.view-mode .target .answer:after,
.instruction.view-mode .ti:after,
.instruction.edit-mode .instruction-content .numeric .more-info:before,
.instruction.edit-mode .numeric .between:before {
	 content: ' ';
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 clear: both;
	 height: 0;
}

nav .nav-sections,
nav.tabnav ul,
nav.subnav ul {
	padding-left: 0;
	list-style: none;
}

.tabnav .dropdown.open ul.dropdown-menu,
.tabnav li .dropdown li,
.tabnav li .dropdown li a,
.instruction.edit-mode .instruction-content .numeric .more-info .plainLabel,
.instruction .item.targets .sub .mini-panel.targets label {
	display: block;
}

.navbar-brand,
header nav .number,
.tabnav li a,
.subnav li a,
a.buttonly,
select,
.custom-select,
.caret,
.set-repeats .dropdown,
.set-repeats .mini-panel,
.instruction-footer .icon-checkmark,
.instruction-footer .item.count .described,
.time-estimate .dropdown,
a.iconly {
	display: inline-block;
}

.inline-left,
.subnav li,
.adjacent .wrapper,
.instructions .header .ti,
.set-repeats .radios,
.group.materials .ti.number,
.instruction-footer .item,
.instruction.view-mode .target .name,
.instruction.view-mode .target .answer,
.instruction.edit-mode .numeric .ti,
.instruction.edit-mode .numeric .dropdown {
	display: inline-block;
	float: left;
}

.inline-right,
.icon-buttons,
.instruction.view-mode .target .answers,
.instruction.view-mode .time .dropdown {
	display: inline-block;
	float: right;
}

.navbar-toggle,
nav .user-info,
nav .user-image,
nav .user-info .inner,
header .navbar .dropdown-toggle,
input[type="radio"],
.section.title .navly,
.section.title .ti,
.date.group,
.date.group div,
.group .plainLabel,
.instruction-content .plainLabel,
.group .value,
.sub .selected-item,
.primary.actions a.delete {
	float: left;
}

.right,
.tabnav li.right,
.btn.btn-default.dropdown-toggle .caret,
.remove,
.instruction.view-mode .type {
	float: right;
}

.tabnav li .dropdown li,
.group.repeats .every .dropdown .plainLabel,
.group.repeats .set-repeats .radios .plainLabel,
.instruction.edit-mode .instruction-content .numeric .more-info > .plainLabel {
	float: none;
}

.custom-select,
header nav li a,
header nav li a.imaqED,
.tabnav li.buttonly,
.tabnav li.buttonly a,
.date.group,
.date.group div,
.date.group input,
.editable,
.editable:after,
.date.group:after,
.description .value,
.checker,
input[type="checkbox"],
.expander,
.im,
.header .controls,
.header .actions,
.header .actions .icon-buttons .im,
.instructions .primary.actions,
.instructions .primary.actions:before,
.icon-buttons,
.set-repeats .ends,
.instruction-footer .item,
.instruction-footer .descriptor,
.instruction-footer .item.count .described,
.icon-buttons a:before,
.item.required > .plainLabel:after,
.instruction.view-mode .answer,
.instruction.view-mode .answer input,
.instruction.view-mode .answer.exception .plainLabel,
.instruction.view-mode .answer.exception .plainLabel:after,
input[type="radio"],
input[type="radio"]:after,
.instruction.view-mode .time .dropdown,
.instruction.view-mode .time .btn.btn-default.dropdown-toggle,
.tabnav .btn.btn-default.dropdown-toggle,
a.iconly,
a.iconly:before {
	position: relative;
}

.header .controls .ti,
.header .controls .arrow,
header nav .number,
.tabnav li.buttonly a span.im {
	position: absolute;
}

header .navbar-collapse.in {
	overflow-y: visible;
}

.sidenav .user-info,
.header .dragger,
.subnav ul,
.instruction.edit-mode .instruction-content .numeric .more-info .plainLabel {
	width: 100%;
}

.group.repeats .btn.btn-default.dropdown-toggle,
.group.repeats .dropdown-menu,
.instructions .instruction-footer .item .plainLabel,
.time-estimate .btn.btn-default.dropdown-toggle,
.instruction .time .btn.btn-default.dropdown-toggle,
.instruction-content .time-estimate .dropdown-menu,
.view-mode .instruction-content .time .dropdown-menu,
.more-info:before,.instruction.edit-mode .numeric .dropdown-menu,
.instruction.view-mode .answers .plainLabel,
.instruction.edit-mode .numeric .mini-panel .btn.btn-default.dropdown-toggle {
	width: auto;
}

.tabnav .dropdownly .dropdown-menu,
.instruction-content .time-estimate .dropdown-menu,
.view-mode .instruction-content .time .dropdown-menu,
.more-info:before,.instruction.edit-mode .numeric .dropdown-menu {
	left: auto;
}

.opacity100 {
	filter: alpha(opacity=100);
     -moz-opacity: 1;
          opacity: 1;
}

.transition,
.dropdown-menu,
.tabnav li,
.tabnav li a,
.subnav li,
.subnav li a {
	-webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.smoother-animation {
	 transform: translate3d(0px,0px,0px);
	-webkit-transform: translate3d(0px,0px,0px);
	-webkit-backface-visibility: hidden;
}

header nav .number,
input[type="radio"]:after {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

select {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}


/* colors */

.tabnav li .dropdown li a,
.set-repeats .dropdown .plainLabel,
.set-repeats .radios .plainLabel,
.instruction-footer .descriptor {
	color: #333;
}

.tabnav li:hover,
.tabnav li:focus {
	background: rgba(255, 255, 255, .2);
}

.tabnav li.dropdownly:hover,
.tabnav li.dropdownly:focus,
.tabnav li.buttonly:hover,
.tabnav li.buttonly:focus {
	background: rgba(255, 255, 255, .0);
}

.instruction .header .controls {
	 background: rgba(0, 0, 0, .12);
}

.icon-dragger {
	 color: rgba(0, 0, 0, .18);
}

.dropdown-menu > li > a.link:hover {
 background-color: transparent;
}

.dropdown-header {
	color: #ababab; 
}

.view-mode .numeric .currency:before {
	color: #bcbcbc;
}

.editable:after {
	color: #cbcbcb;
}

.mini-panel,
.instruction .item.targets .sub .mini-panel {
	background: #f8f8f8;
}

.instruction .item.targets .sub {
	background: #efefef;
}

.desktop .date.group:after,
.instruction-footer .icon-checkmark {
	color: #ffffff;
}

.instructions .item .actions a.buttonly {
	background-color: #ffffff;
}

.tabnav ul.dropdown-menu,
.instruction-footer .item {
	background: #ffffff;
}

.navbar {
	border-radius: 0;
}

.disabled,
.disabled:hover,
.disabled:focus,
.primary.actions a.buttonly.disabled:hover,
.primary.actions a.buttonly.disabled:focus {
	background-color: #cccccc;
}


/* reds */

	.item.required > .plainLabel:after,
	.invalid > input[type="text"],
	.invalid > input[type="textarea"] {
		color: #f03;
	}
	
	.invalid input[type="text"],
	.invalid input[type="textarea"] {
		border-color: #f03;
	}
	
/* highlight */

	.invalid input[type="text"],
	.invalid input[type="textarea"] {
		background: #fff9af;
	}


/* icon positioning */

.im:before {
	font-size: 1.7em;
	line-height: 1em;
}

.im.icon-pencil-box:before {
	font-size: 2.1em;
}

.tabnav .buttonly .im {
	margin-right: 8px;
}

.dropdown .im:before {
	margin-right: .1em;
}

.editable:after {
	padding-left: 5px;
		top: 1px;
}

.date .wrapper.editable:after {
	padding-left: 0;
		right: 25px;
}


/* borders */

input[type="text"],
input[type="textarea"],
.instruction-content {
	border: 1px solid #cccccc;
}

.instructions .primary.actions:before,
header .nav ul.dropdown-menu li,
.group .sub,
.instruction-summary,
.instruction.view-mode .target {
	border-top: 1px solid #cccccc;
}

.instruction-footer .item.required,
.instruction-footer .item.count {
	border-right: 1px solid #cccccc;
}

.Projects .group,
.subnav {
	border-bottom: 1px solid #cccccc;
}

.instruction .item.targets .sub .mini-panel {
	border-top: 2px solid #ffffff;
}

.mini-panel, .instruction .item.targets .sub,
.group .mini-panel {
	border-bottom: 2px solid #ffffff;
}

.subnav li {
	border-bottom: 7px solid #ffffff;
}

.group .sub.first,
.instruction-content,
.group .sub.more-info {
	border-top-width: 0;
}

.Projects .group.date,
.Projects .group.repeats,
.instruction .item.targets .sub .mini-panel {
	border-bottom-width: 0;
}

.instructions .item .actions a.buttonly,
.primary.actions a {
	border: 1px solid;
}

.tabnav  li {
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.tabnav  li.active {
	border-right: 1px solid rgba(0, 0, 0, .2);
}

.viewing.icon-buttons a,
.tabnav li.buttonly a,
.tabnav .btn.btn-default.dropdown-toggle {
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.caret,
.navbar {
	border: 0px solid transparent;
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
}

.nav-sections li {
	border-left: 4px solid transparent;
}

.tabnav li.buttonly a,
.tabnav .btn.btn-default.dropdown-toggle,
.tabnav li .dropdown li,
.tabnav li.active .dropdown li {
	border-right-width: 0px;
}

header nav .dropdown-menu {
	padding-top: 0;
	border-top-width: 0px;
}

header .nav .dropdown li {
	border-left: 0px solid #ffffff;
}

.primary.actions a.linkly {
	border-color: #ffffff;
}

/* hidden for large screens */

@media (min-width: 665px) {
	
	.nav-active-holder {
		display: none;
	}
	
}

/* hidden for small device screens */

@media (max-width: 664px) {
	
	a.navbar-brand,
	header .user-name,
	header .user-org,
	header .nav .dropdown.open ul.dropdown-menu li.header,
	.sidenav .user-info,
	.tabnav li.buttonly a .descriptive,
	.sidenav li.divider {
		display: none;
	}
	
	.sidenav,
	.sidenav.selective-hide {
		-webkit-transition: all 0.7s ease-in-out;
						transition: all 0.7s ease-in-out;
	}
	
}



/* boostrap customization */
	
	/* fix drop shadows */
	
	.dropdown-menu {
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	
	/* nav */
	
	.navbar {
		min-height: 1px;
		margin-bottom: 0;
	}
	
	.navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	header .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	
	.navbar-nav .open .dropdown-menu {
		padding-bottom: 0;
	}
	 
	
	/* form parts */
	
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: transparent;
	}
	
	header .dropdown-menu > li > a {
		padding: .3em 4em .6em 1em;
	}
	
	header .nav ul.dropdown li {
		 padding: 0 0 0 0;
	}
	
	header .nav ul.dropdown-menu li.header {
		font-size: 1.1em;
		padding: .3em .5em .5em 1em;
	}
	
	header nav .dropdown li a .im {
		top: .3em;
	}
	
	.nav > li > a.dropdown-toggle {
		padding-top: .3em;
	}
	
	.dropdown-header {
		font-size: 1em;
		padding-left: 12px;
	}
	
	.dropdown-menu {
		margin-top: 0;
	}
	
	.caret,
	.custom-select:before {
		font-size: 2em;
		margin-left: 2px;
		width: 1em;
		height: 1em;
		vertical-align: top;
	}
	
	.btn.btn-default.dropdown-toggle {
		text-align: left;
		font-size: 1em;
	}
	
	.btn.btn-default.dropdown-toggle .caret {
		font-size: 1.7em;
		margin-bottom: -5px;
	}
	
	input[type="text"],
	input[type="textarea"] {
		margin-top: 1px;
		padding: 4px;
	}
	
	input.datepicker {
		margin-bottom: -10px;
		padding-right: 15px;
		width: 205px;
	}
	
	.editable .datepicker {
		border-color: transparent;
	}
	
	input[type="radio"] {
		margin-right: .5em;
	}
	
	.item.required > .plainLabel:after {
		content: '*';
		font-size: 1.4em;
			left: 10px;
	}
	
	
	
	
	

/* header */

	/* header nav */
	
	header .nav li {
		padding-top: 5px;
		padding-bottom: 4px;
	}
	
	header .navbar-nav > li > a {
		padding: 5px 15px;
	}
	
	nav {
		font-size: 1.1em;
	}
	
	.navbar > .container-fluid .navbar-brand {
		margin: .5em 0  0 .2em;
		height: 51px;
		width: 220px;
	}
	
	header .nav li.alerts .im,
	header .nav li.messages .im {
		font-size: 1.8em;
	}
	
	header .nav .number {
		font-size: .7em;
		text-align: center;
		padding-top: 1px;
		height: 22px;
		width: 22px;
			top: .7em;
			right: 1.3em;
	}
	
	header .nav .dropdown {
		padding: 10px 0 15px 15px;
	}
	
	header .nav .dropdown li {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.user-image {
		margin: .1em .5em 0 0;
		height: 40px;
		width: 40px;
		background: url(../images/default-user-image.gif) 0 0 no-repeat;
		background-size: 100%;
	}
	
	header .user-info .inner {
		width: auto;
		max-width: 140px;
	}
	
	header .user-info .user-name,
	header .user-info .user-org {
		width: auto;
		max-width: 140px;
	}
	
	ul.dropdown-menu li.header {
		margin-left: -1px;
	}
	
	header:after {
		content: ' ';
		margin: 0 1em -1px 0;
		display: block;
		height: 1px;
	}


/* content structure */	

.main.wrapper,
.tabnav ul { 
	display: table;
	width: 100%;
}

.main.wrapper {
	padding-right: 1em;
}

/*  left sidenav */

nav.sidenav {  
	vertical-align: top;
}

div.main.wrapper + div.inner {
	display: table-cell;
	vertical-align: top;
}

.sidenav .user-info {
	margin-bottom: 1.2em;
}

.sidenav .user-name {
	font-size: 1.25em;
	margin-bottom: .3em;
	width: 145px;
}

.sidenav .user-org,
.sidenav .user-edit {
	font-size: 1em;
	line-height: 1.4em;
}

.sidenav .user-image {
	width: 70px;
	height: 70px;
}

.nav-sections li.divider {
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 1.7em;
	padding: 3px 0 10px 0;
}

@media (min-width: 665px) {
	
	 nav.sidenav {  
		padding: 10px 20px;
		display: table-cell;
		width: 265px;
		min-width: 265px;
	}
	
	.nav-sections li {
		margin: .1em 0 .2em 0;
		padding: .1em 0 .1em .5em;
	}
	
}

@media (max-width: 664px) {
	
	.nav-active-holder {
		color: #ffffff;
		font-size: 1.3em;
		display: inline-block;
		position: absolute;
			top: 2px;
		left: 60px;
		z-index: 100;
	}
	
	.nav-active-holder:after {
		font-size: 1.2em;
		vertical-align: middle;
		color: rgba(255, 255, 255, .3);
	}
	
	nav.sidenav {
		margin-right: -1em;
		padding: 0;
		display: block;
		position: relative;
		max-height: 800px;
		background: #ffffff;
		z-index: 1000; 
		
		overflow: hidden;
	}
	
	.sidenav.selective-hide {
		max-height: 0px;
	}
	
	.nav-sections {
		margin: 0 -1em 0 0;
	}
	
	.nav-sections li {
		font-size: .9em;
		padding: 6px 10px;
		border-left: 0px solid transparent;
		border-bottom: 1px solid #cccccc;
	}
	
	.nav-sections li a {
		display: inline-block;
		width: 100%;
	}
	
	.nav-sections li.active a {
		color: #ccc;
		cursor: default;
	}

}


/*  top tabbed nav */

.tabnav .dropdownly .dropdown-menu {
	width: 265px;
}

@media (min-width: 665px) {
	
	.tabnav li {
		display: inline-block;
		float: left;
	}
	
	.tabnav li.buttonly {
		float: right;
	}
	
	.tabnav li a {
		font-size: 1.2em;
		padding: 16px 32px; 
	}
	
	.tabnav li .dropdown li a {
		font-size: 1em;
		padding: 3px 20px; 
	}
	
	.tabnav li.buttonly a,
	.tabnav .btn.btn-default.dropdown-toggle {
		font-size: 1em;
		margin: 10px;
		padding: 8px 12px 8px 40px;
		background: rgba(0, 0, 0, .1);
	}
	
	.tabnav .btn.btn-default.dropdown-toggle {
		margin-bottom: 0;
		padding-right: 25px;
		padding-left: 12px;
		width: 200px;
	}

	.tabnav li.buttonly a:hover,
	.tabnav li.buttonly a:focus,
	.tabnav .btn.btn-default.dropdown-toggle:hover,
	.tabnav .btn.btn-default.dropdown-toggle:focus {
		background: rgba(0, 0, 0, .15);
	}
	
	.tabnav .btn.btn-default.dropdown-toggle .caret {
		margin-left: 5px;
		margin-right: -5px;
		position: absolute;
			top: 7px;
			right: 5px;
	}
	
	.tabnav .dropdownly .dropdown-menu {
		right: 10px;
	}
	
	.tabnav li.buttonly a .im.icon-pencil-box {
		top: 2px;
		left: 5px;
	}
	
	.tabnav li.buttonly a .im.icon-building {
		top: 5px;
		left: 9px;
	}
	
	.tabnav li .descriptive {
		padding-left: .5em;
	}

}

@media (max-width: 664px) {
	
	nav.tabnav {
		margin-right: -1em;
	}
	
	.tabnav ul {
		display: table;
	}
	
	.tabnav li {
		text-align: center;
		padding: 0 5px; 
		display: table-cell;
	}
	
	.tabnav li .dropdown.open li {
		font-size: 1em;
		padding: 0;;
		text-align: left;
	}
	
	.tabnav li .dropdown.open li a {
		padding: 3px 20px;
	}
	
	.tabnav li.buttonly {
		float: none;
	}
	
	.tabnav li.buttonly:hover,
	.tabnav li.buttonly:focus {
		background: rgba(255, 255, 255, .2);
	}
	
	.tabnav li a,
	.tabnav li.buttonly a {
		font-size: 1em;
		padding: 12px 0;
		display: inline-block;
		width: 100%;
	}
	
	.tabnav li.buttonly a {
		margin: 0;
		border-left: 0px solid transparent;
		border-bottom: 0px solid transparent;
	}
	
	.tabnav li.buttonly a:before {
		content: ' ';
		padding-left: 20px;
	}
	
	.tabnav li.buttonly a span.im {
		margin-left: -30px;
			top: 5px;
	}
	
	.tabnav li.buttonly a span.im.icon-building {
			top: 9px;
	}
	
  .tabnav .btn.btn-default.dropdown-toggle,
  .tabnav .btn.btn-default.dropdown-toggle:hover,
  .tabnav .btn.btn-default.dropdown-toggle:focus {
		font-size: .9em;
		margin: 0; 
		padding: 0 25px 0 5px;
			top: 5px;
		width: auto;	
		max-width: 200px;
		background: none;	
		border-left-width: 0;
		border-bottom-width: 0;
  }
	
	.tabnav .dropdown.open ul.dropdown-menu {
		margin-top: 5px;
			right: 5px;
	}
	 
	.tabnav .btn.btn-default.dropdown-toggle .caret {		
		position: absolute;
			top: 0px;
			right: 5px;
	}
	
}


/* tabbed nav width adjustments for content areas */

@media (min-width: 665px) and (max-width: 715px) {
	
	 .Organizations .tabnav li a {
			padding-left: 12px;
			padding-right: 12px; 
	 }
	
}

@media (min-width: 721px) and (max-width: 825px) {
	
	 .Projects .tabnav li a {
			padding-left: 12px;
			padding-right: 12px; 
	 }
	
}

@media (min-width: 665px) and (max-width: 720px) {
	
	 .Projects .tabnav li a {
		  font-size: 1em;
			padding: 18px 12px; 
	 }
	 
	 .Projects .tabnav li.buttonly a {
			margin-left: 0;
	 }
	
}

@media (min-width: 665px) and (max-width: 825px) {
	 
	 .tabnav li.buttonly a {
			padding:  8px 12px 8px 40px; 
	 }
	
}

@media (min-width: 876px) and (max-width: 970px) {
	
	 .People .tabnav li a {
			padding-left: 16px;
			padding-right: 16px; 
	 }
	
}

@media (min-width: 665px) and (max-width: 875px) {
	
	 .People .tabnav li a {
		  font-size: 1em;
			padding-left: 6px;
			padding-right: 6px; 
	 }
	 
	 .People .tabnav .btn.btn-default.dropdown-toggle,
	 .People .tabnav .btn.btn-default.dropdown-toggle:hover,
	 .People .tabnav .btn.btn-default.dropdown-toggle:focus {
		  font-size: .9em;
			margin: 0;
			padding: 16px 25px 16px 5px;
			width: 110px;
			background: none;
			border-left-width: 0;
			border-bottom-width: 0;
	 }
	 
	 .People .tabnav .btn.btn-default.dropdown-toggle .caret {
			top: 15px;
	}
	
}

@media (max-width: 455px) {
	
	.People .tabnav .btn.btn-default.dropdown-toggle,
  .People .tabnav .btn.btn-default.dropdown-toggle:hover,
  .People .tabnav .btn.btn-default.dropdown-toggle:focus {	
		max-width: 100px;
			top: 3px;
  }
	
	.People .tabnav li {
		font-size: .8em;
	}
	
	.People .tabnav .btn.btn-default.dropdown-toggle,
	.People .tabnav .btn.btn-default.dropdown-toggle:hover,
	.People .tabnav .btn.btn-default.dropdown-toggle:focus {
			padding-right: 20px;
	}
	
}


/* subnavs */	

.subnav {
	margin: 2em 0 1em 0;
}

@media (min-width: 665px) {
	
	.subnav li {
		font-size: 1.5em;
		margin-right: 2em;
	}

	.subcontent.secondary .subnav {
		max-width: 565px;
	}
	
	.subcontent.secondary .subnav li {
		font-size: 1.1em;
	}

}

@media (max-width: 730px) {
	
	.subnav li {
		margin-right: 1em;
	}
	
}

@media (max-width: 664px) {
	
	.subnav li {
		font-size: 1.2em;
	}
	
	.subcontent.secondary .subnav li {
		font-size: 1em;
	}
	
}

@media (max-width: 350px) {
	
	.Organizations .subnav .descriptive {
		display: none;
	}
	
}



/* content */

/* Project builder top */

.inner.wrapper > .content {
	margin-top: 1em;
}

.section.title {
	font-size: 1.9em;
}

.ti.editable:after {
	font-size: .8em;
	top: 2px;
}

.group {
	padding-bottom: 1em;
}

.group.last {
	padding-bottom: 2em;
}

.group.date, 
.group.repeats {
	padding-bottom: 0;
}

.group .dropdown,
.instructions .dropdown {
		top: -4px;
}

.group .dropdown {
	margin-bottom: .3em;
}


.group .sub,
.instruction .item .sub,
.item input[type="text"],
.item input[type="textarea"],
.btn.btn-default.dropdown-toggle,
.group .text-input input[type="text"] {
	width: 300px;
}

.group .dropdown-menu,
.instructions .dropdown-menu {
	width: 301px;
}

.group .sub {
	margin-left: 115px; 
}

.group .dropdown-menu {
	left: 115px;
}

.group .sub .selected-item,
.instruction .sub .selected-item {
	padding: 14px 0 12px 0;
	width: 245px;
}

.remove {
	font-size: .75em;
	padding-top: 14px;
}

.iconly {
	font-size: .85em;
}

.plainLabel {
	text-align: right;
	margin-right: 10px;
	width: 100px;
}

.repeats-selection,
.group {
	margin-top: 1.3em;
} 

.set-repeats {
	margin: 0 0 0 116px;
}

.repeats-setter.value {
	top: -2px;
}

.set-repeats .checker .plainLabel {
	margin-right: 3em;
}

.set-repeats .every .dropdown .plainLabel,
.set-repeats .dropdown .caret {
	margin-left: .2em;
}

.set-repeats .every .plainLabel,
.set-repeats .ends .plainLabel {
	width: 105px;
}

.set-repeats .plainLabel,
.set-repeats .radios .plainLabel {
	width: auto;
}

.set-repeats {
	font-size: .9em;
}

.set-repeats .dropdown .dropdown-toggle {
	padding-right: 8px;
}

.set-repeats .dropdown .dropdown-toggle .caret {
	margin-top: -2px;
}

.set-repeats .radios input[type="text"].ends-after {
	width: 4em;
}

.set-repeats .radios input[type="text"].ends-on {
	width: 6em;
}

.set-repeats .radios {
	margin-left: 1.5em;
}

.set-repeats .radio .plainLabel {
	margin-right: .3em;
	padding-left: 0;
}

.set-repeats .radio.first {
	margin-top: 0;
}

.set-repeats .radio input {
	padding: 2px;
	top: 3px;
}

.description .value {
	font-size: .95em;
	float: none;
		left: 0;
}

.set-repeats .radios .plainLabel {
	text-align: left;
}

.group.repeats .set-repeats .dropdown-menu {
	left: 0;
}

.group .plainLabel,
.instructions .plainLabel {
	margin-right: 15px;
}

.date.group .plainLabel {
	margin-right: 13px;
	top: 2px;
}

.Projects .description.group {
	padding-bottom: 2em;
}

.content .dropdown-menu li a {
	white-space: normal;
}

.group .sub .plainLabel,
.instructions .item .sub .plainLabel {
	text-align: left;
	margin-right: 0;
	width: auto;
}

.sub.more-info,
.sub .more-info,
.instructions .item .actions {
	font-size: .85em;
}

.sub.more-info input[type="text"],
.sub .more-info input[type="text"] {
	text-align: center;
	margin: -5px 0 0 5px;
	padding: 2px 4px;
	width: 60px;
}

.skills .more-info input[type="text"],
.group.group .more-info input[type="text"] {
	float: right;
}

.group .more-info input[type="radio"] {
	margin-top: 1px;
}

.group .more-info input[type="checkbox"] {
	top: -1px;
}

.group.clients .more-info .wrapper {
	margin-right: 2.5em;
}

.sub.more-info .plainLabel {
	margin-right: 8px;
}

.group.additional .sub {
	padding-top: 0;
}

.group.additional .sub .plainLabel {
	margin-bottom: 0;
}

.mini-panel  {
	padding: 1em 2em 1em 1em;
}

.group .text-input input[type="text"] {
	margin: 1px 5px 10px 0;
}

.group.materials .ti.number {
	font-size: 1.3em;
	max-width: 200px;
}

.group.materials .mini-panel .remove {
	margin-top: -7px;
}

.group.materials .mini-panel .ti.name {
	margin: 0 0 .8em 0;
}

.group .mini-panel .adjacent {
	margin-top: 1em;
}

.group .mini-panel .adjacent .plainLabel {
	margin-right: 2em;
}


/* widgets */

.instructions > .ti {
	font-size: 1.1em;
	margin: .5em 0 1em 0;
}

.expander {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.expander a {
	padding: .4em 1.6em .8em 2em;
}

.expander .im {
	top: .3em;
}

.header .controls,
.header .actions .ti {
	padding: 8px 10px 0 10px;
}

.header .actions .ti {
	padding-top: 13px;
	padding-bottom: 9px;
	max-width: 440px;
}

.header .controls .im,
.header .actions .im {
	font-size: 1.4em;
}

.header .dragger {
	z-index: 1;
}

.header .arrow,
.header .controls .ti {
	z-index: 2;
}

.header .controls .ti {
	font-size: 1.6em;
	padding-right: 2em;
}

.header .icon-dragger {
	 top: -2px;
}

.header .icon-arrow {
	top: -1px;
}

.header .controls .arrow {
	padding-left: 2em;
		right: .7em;
}

.instruction {
	margin-bottom: 1.5em;
}

.instruction-content .inner {
	padding: 1.2em 1em 1em 1em;
}

.instructions .item {
	padding-bottom: 1.7em;
}

.instructions .item .plainLabel {
	width: 135px;
}

.instruction-content .sub {
	margin-left: 150px;
}

.instruction-content .dropdown-menu {
	left: 150px;
}

.item input[type="text"],
.item input[type="textarea"] {
	margin-top: -.5em;
}

.item.time-estimate input[type="text"] {
	margin-right: .5em;
	width: 50px;
}

.time-estimate .plainLabel {
	margin-top: .4em;
}

.instructions .sub.more-info {
	margin-top: .7em; 
}

.instructions .item .actions {
	padding: 1em 0;
}

.instructions .item .actions a.buttonly,
.group a.buttonly {
	padding: .5em 1.2em .5em 1em;
}

.instruction .primary.actions {
	margin: 1em 0 1em 2em;
}

.instructions .primary.actions:before {
	content: ' ';
	display: inline-block;
	margin-bottom: 1.5em;
	height: 1px;
	width: 100%;
}

.primary.actions .right {
	margin-right: 1em;
}

.primary.actions a {
	margin-left: .5em;
	padding: .3em 3em;
}

.primary.actions a.delete {
	padding: .3em 1.5em;
}

.icon-buttons a {
	margin-right: -5px;
	padding: .6em .8em;
}

.icon-buttons a:before {
	top: 4px;
}

.instruction-footer .item {
	padding: 0 15px;
}

.instruction-footer .item.required {
	padding-left: 0;
}

.instruction-footer .icon-checkmark {
	margin: -1px 5px -1px -1px;
	padding: 5px 0 0 6px;
	height: 42px;
	width: 42px;
}

.instruction-footer .item.count,
.instruction-footer .item.estimated {
	height: 40px;
}

.instruction-footer .required .descriptor {
	top: -5px;
}

.instruction-footer .descriptor {
	padding-left: .3em;
}

.instruction-footer .item.count .described {
	font-size: 1.4em;
		top: 2px;
}

.instruction-footer .item.estimated {
	padding-top: .6em;
}

.instruction .item.targets .dropdown {
	margin-bottom: 0;
}

.instruction .item.targets .sub.first {
	margin-top: -5px;
}

.instruction .item.targets .sub {
	padding: .3em .5em;
}

.instruction .item.targets .sub.last {
	padding-bottom: 1em;
}

.instruction .item.targets .sub .selected-item {
		width: 225px;
}

.instruction .item.targets .sub .selected-item input {
		width: 215px;
}

/* add question */

.instruction.view-mode .type {
	margin: 1em -1em 1em 1em;
	min-width: 90%;
}

.instruction.view-mode .target {
	padding: .5em 0;
}

.instruction.view-mode .answer {
	margin-left:.5em;
	padding-top: .2em;
}

.instruction.view-mode .answer.exception {
	margin-bottom: -.6em;
}

.instruction.view-mode .answer input[type="radio"] {
	top: -3px;
}

.instruction.view-mode .answer.exception .plainLabel:after {
	font-size: 1.4em;
	line-height: 0;
	overflow: visible;
		top: 3px;
		left: -3px;
}

.instruction.view-mode .numeric input,
.instruction.view-mode .time input {
	margin: 0 0 0 0;
	padding-right: 4px;
	width: 60px;
}

.instruction.view-mode .numeric input {
	margin-right: 2em;
	padding-right: 4px;
	width: 60px;
}

.instruction.view-mode .type.date .answer {
	margin-right: 1em;
	padding-top: 0;
}

.instruction.view-mode input.datepicker {
	margin: 0 6.5em 0 0;
	padding-right: 4px;
	width: 120px;
}

.instruction.view-mode .numeric .name,
.instruction.view-mode .date .name {
	padding-top: .3em;
}

.instruction.view-mode .time .dropdown {
	margin: 0 1em 0 .5em;
}

.instruction.view-mode .time .btn.btn-default.dropdown-toggle {
	padding-top: 4px;
	padding-bottom: 4px;
		top: 5px;
}

.view-mode .instruction-content .time .dropdown-menu {
	right: -2px;
}

.view-mode .numeric .currency:before {
	content: '$';
}

.instruction.edit-mode .numeric input[type="radio"] {
	margin: 0 8px 0px 8px;
}

.instruction.edit-mode .numeric .plainLabel {
	margin-right: 1em;
}

.instruction.edit-mode .numeric .more-info input[type="checkbox"] {
	margin: .8em .8em 0 .2em;
}

.instruction.edit-mode .numeric .dropdown {
	margin: .5em 0;
}

.instruction.edit-mode .numeric .mini-panel .btn.btn-default.dropdown-toggle {
	padding-right: 0;
}

.instruction.edit-mode .numeric input[type="text"] {
	margin: 0 0 0 0;
}

.instruction.edit-mode .numeric .mini-panel span {
	margin: 0 7px;
}

.iconly input[type="checkbox"] {
	margin-right: 11px;
}

.iconly input[type="checkbox"]:after {
	margin-top: -5px;
}

a.iconly {
	margin: -.5em 1.5em .5em 0;
}

a.iconly:before {
	font-size: 1.5em;
		top: 3px;
}

.instruction .item.targets .sub .mini-panel {
	margin: -.3em -.5em;
	padding-right: 1em;
}

.instruction .item.targets .sub .mini-panel.targets label {
	font-size: .9em;
	margin-left: 26px;
}

.instruction .item.targets .sub .mini-panel.targets input {
	margin-right: 15px;
	margin-left: -26px;
}

.instruction .item.targets .sub .mini-panel.targets input:after {
	margin-top: -5px;
}

.instruction.edit-mode .item .sub input[type="textarea"] {
	margin-bottom: .5em;
}

.sub.actions.duplicator {
	margin-top: -.5em;
	padding-top: 0;
}


/* heredeb */



 

/* Project builder responsive reformat */

@media (min-width: 665px) {

	.section.title .navly:after {
		content: '/';
		padding: 0 .3em;
	}

}

@media (max-width: 664px) {

	.section.title .navly {
	  display: block;
 		width: 100%;
	}

}
	
/* ios fix for modal with keyboard */

.modal-ios {
	position: absolute;
	overflow: visible
}

/* ie10 & 11 --- also will be picked up by ie9 */

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='Trident'] {
	/* fixes here */
}	

/* customize bootstrap's responsive behavior */

@media (min-width: 665px) {
	
	header:after {
		background-color: #cccccc;
	}
	
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
	
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
	
  .navbar-collapse.in {
    overflow-y: visible;
  }
	
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
	
	.navbar-header {
		float: left;
	}
	
	.navbar-toggle {
    display: none;
  }
	
	.navbar-nav {
    float: left;
    margin: 0;
  }
	
  .navbar-nav > li {
    float: left;
  }
	
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
	
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
	
  .navbar-right {
    float: right !important;
  }
	
	.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

}

/* necessary to overwrite bootstrap */

@media (max-width: 767px) {
	
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		width: auto;
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, .15);
		border-top: 0;
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	
	.navbar-nav .open .dropdown-menu > li > a {
		padding: .3em 4em .6em 1em;
	}
	
}


@media (max-width: 664px) {
	
	.navbar-collapse {
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	
  .navbar-nav .open .dropdown-menu {
		padding-bottom: 0;
    position: static;
    float: left;
    width: 100%;
    background-color: #ffffff;
		border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;	
		clear: both;			
  }
	
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  
	header .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 1px solid #cccccc;
	}
	
	header .nav.navbar.navbar-default:after {
		border-bottom: 0px solid transparent;
	}
	
	header .nav li.buttonly {
		display: inline-block;
		float: left;
	}
	
	header nav .dropdown.open {
		background: transparent;
	}
	
	header .nav li.dropdown.open li {
		width: 100%;
	}
	
	.nav > li > a.dropdown-toggle {
		padding-left: 0;
	}
	
}




/* - - - - - - - - - -
	 CSS3 form hints  
	 can not be combined with each other 
	 or anything else 
	 - - - - - - - - - -
*/

input::-webkit-input-placeholder { 
	color: #bcbcbc;
}

input:-ms-input-placeholder { 
	color: #bcbcbc;
}

input::-moz-placeholder { 
	color: #bcbcbc;
}

input:-ms-input-placeholder {
	color: #bcbcbc;
}

textarea::-webkit-input-placeholder { 
	color: #bcbcbc;
}

textarea:-ms-input-placeholder { 
	color: #bcbcbc;
}

textarea::-moz-placeholder { 
	color: #bcbcbc;
}

textarea:-ms-input-placeholder {
	color: #bcbcbc;
}

.invalid input::-webkit-input-placeholder {
	color: #323232;
	opacity: .5;
}

.invalid input:-ms-input-placeholder { 
	color: #323232;
	opacity: .5;
}

.invalid input::-moz-placeholder { 
	color: #323232;
	opacity: .5;
}

.invalid input:-ms-input-placeholder {
	color: #323232;
	opacity: .5;
}

.invalid textarea::-webkit-input-placeholder {
	color: #323232;
	opacity: .5;
}

.invalid textarea:-ms-input-placeholder { 
	color: #323232;
	opacity: .5;
}

.invalid textarea::-moz-placeholder { 
	color: #323232;
	opacity: .5;
}

.invalid textarea:-ms-input-placeholder {
	color: #323232;
	opacity: .5;
}
	
	
	
/* ---------- END CORE.CSS ---------- */	