/* ---------- CORE APP CSS ---------- */


/* fix iOS orientation resize bug */
html, body {
	-webkit-text-size-adjust: 100%;
}

/* everywhere */

html, body {
	font-family: Helvetica-Neue, Arial, sans-serif;
	background: #ffffff;
}

body {
	font-size: 1.4em;
}

.hide,
header nav .user-edit,
.set-repeats {
	display: none;
}

.nav-sections,
.group,
.instruction-content {
	font-size: 1.15em;
}

label {
	font-weight: normal;
}

.center,
.expander,
.instruction .dragger,
.time-estimate input[type="text"] {
	text-align: center;
}

.group .sub .selected-item,
.description .value,
.plainLabel {
	line-height: 1.2em;
}

nav li a,
nav li a:hover,
nav li a:focus,
nav li a:visited,
a.navly,
.remove,
.dropdown-menu .link,
.dropdown-menu .link:hover,
a.buttonly {
	text-decoration: none;
}

.primary.actions a.linkly {
	text-decoration: underline;
}

.hellomouse,
.editable:hover, 
.header .controls .ti,
.header .dragger,
.header .arrow {
	cursor: pointer;
}

.defaultmouse,
a.disabled {
	cursor: default;
}

.clearfix:after,
.section.title:after,
.group:after,
.repeats-selection:after,
.sidenav .user-info:after,
.repeats.group:before,
.sidenav ul.nav-sections:before,
.group .sub:after,
.group.additional .sub .checker:after,
.header .actions:after,
.item .sub.more-info:after,
.primary.actions:after {
	 content: ' ';
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 clear: both;
	 height: 0;
}

nav .nav-sections,
nav.tabnav ul {
	padding-left: 0;
	list-style: none;
}

.navbar-brand,
header nav .number,
.tabnav li a,
a.buttonly,
select,
.custom-select,
.caret  {
	display: inline-block;
}

.inline-left,
.tabnav li,
.group.clients .more-info .wrapper,
.instructions .header .ti {
	display: inline-block;
	float: left;
}

.inline-right {
	display: inline-block;
	float: right;
}

.navbar-toggle,
nav .user-info,
nav .user-image,
nav .user-info .inner,
header .navbar .dropdown-toggle,
input[type="radio"],
.section.title .navly,
.section.title .ti,
.date.group,
.date.group div,
.group .plainLabel,
.instruction-content .plainLabel,
.group .value,
.sub .selected-item,
.primary.actions a.delete {
	float: left;
}

.right,
.btn.btn-default.dropdown-toggle .caret,
.tabnav li.buttonly,
.remove {
	float: right;
}

.custom-select,
header nav li a,
header nav li a .im,
.tabnav li.buttonly,
.tabnav li.buttonly a,
.date.group,
.date.group div,
.date.group input,
.editable,
.editable:after,
.date.group:after,
.description .value,
.checker,
input[type="checkbox"],
.expander,
.im,
.header .controls,
.header .actions,
.instructions .primary.actions,
.instructions .primary.actions:before {
	position: relative;
}

.custom-select:before,
.header .controls .ti,
.header .controls .arrow,
header nav .number,
.tabnav li.buttonly a span.im {
	position: absolute;
}

header .navbar-collapse.in {
	overflow-y: visible;
}

.sidenav .user-info,
.header .dragger {
	width: 100%;
}

.tabnav li.buttonly a {
	background: rgba(0, 0, 0, .1);
}

.tabnav li.buttonly a:hover,
.tabnav li.buttonly a:focus {
	background: rgba(0, 0, 0, .15);
}

.opacity100 {
	filter: alpha(opacity=100);
     -moz-opacity: 1;
          opacity: 1;
}

.transition,
.tabnav li a {
	-webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.smoother-animation {
	 transform: translate3d(0px,0px,0px);
	-webkit-transform: translate3d(0px,0px,0px);
	-webkit-backface-visibility: hidden;
}

header nav .number {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

select {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}


/* colors */

.instruction .header .controls {
	 background: rgba(0, 0, 0, .12);
}

.icon-dragger {
	 color: rgba(0, 0, 0, .18);
}

 .dropdown-menu > li > a.link:hover {
	 background-color: transparent;
 }
 
 .dropdown-header {
		color: #ababab; 
 }

.editable:after,
.desktop .editable:hover:after {
	color: #cbcbcb;
}

.desktop .editable:after,
.desktop .date.group:after {
	color: #ffffff;
}

.instructions .item .actions a.buttonly {
	background-color: #ffffff;
}

.navbar {
	border-radius: 0;
}

.disabled {
	background-color: #cccccc;
}

/* icon positioning */

.im:before {
	font-size: 1.7em;
	line-height: 1em;
}

.im.icon-pencil-box:before {
	font-size: 2.1em;
}

.tabnav .buttonly .im {
	margin-right: 8px;
}

.dropdown .im:before {
	margin-right: .1em;
}

.editable:after {
	padding-left: 5px;
		top: 1px;
}

.date .wrapper.editable:after {
	padding-left: 0;
		right: 25px;
}


/* borders */

input[type="text"],
input[type="textarea"],
.instruction-content {
	border: 1px solid #cccccc;
}

.instructions .primary.actions:before,
header .nav ul.dropdown-menu li,
.group .sub {
	border-top: 1px solid #cccccc;
}

.project .group {
	border-bottom: 1px solid #cccccc;
}

.group .sub.first,
.instruction-content,
.group .sub.more-info {
	border-top-width: 0;
}

.project .group.date,
.project .group.repeats {
	border-bottom-width: 0;
}

.actions a,
.instructions .item .actions a.buttonly {
	border: 1px solid;
}

.tabnav li.buttonly a {
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.caret,
.navbar {
	border: 0px solid transparent;
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
}

.tabnav li.buttonly a {
	border-right-width: 0px;
}

header nav .dropdown-menu {
	padding-top: 0;
	border-top-width: 0px;
}

header .nav .dropdown li {
	border-left: 0px solid #ffffff;
}

.primary.actions a.linkly {
	border-color: #ffffff;
}



/* boostrap customization */
	
	/* fix drop shadows */
	
	.dropdown-menu {
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	
	/* nav */
	
	.navbar {
		min-height: 1px;
		margin-bottom: 0;
	}
	
	.navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	header .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	 
	
	/* form parts */
	
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: transparent;
	}
	
	header .dropdown-menu > li > a {
		padding: .4em 4em .5em 1em;
	}
	
	header .nav ul.dropdown li {
		 padding: 0 0 0 0;
	}
	
	header .nav ul.dropdown-menu li.header {
		font-size: 1.1em;
		padding: .3em .5em .5em 1em;
	}
	
	header nav .dropdown li a .im {
		top: .3em;
	}
	
	.nav > li > a.dropdown-toggle {
		padding-top: .3em;
	}
	
	.dropdown-header {
		font-size: 1em;
		padding-left: 12px;
	}
	
	.dropdown-menu {
		margin-top: 0;
	}
	
	.caret,
	.custom-select:before {
		font-size: 2em;
		margin-left: 2px;
		width: 1em;
		height: 1em;
		vertical-align: top;
	}
	
	.btn.btn-default.dropdown-toggle {
		text-align: left;
		font-size: 1em;
	}
	
	.btn.btn-default.dropdown-toggle .caret {
		font-size: 1.7em;
		margin-bottom: -5px;
	}
	
	input[type="text"],
	input[type="textarea"] {
		margin-top: 1px;
		padding: 4px;
	}
	
	input.datepicker {
		margin-bottom: -10px;
		padding-right: 15px;
		width: 205px;
	}
	
	.editable .datepicker {
		border-color: transparent;
	}
	
	input[type="radio"] {
		margin-right: .5em;
	}
	
	select {
		padding: 6px 45px 6px 12px;
		border: 0px solid #ffffff;
		
		-webkit-appearance: none;
	}
	
	.custom-select:before {
		font-size: 1.7em;
		 top: 5px;
		 right: 10px;	
	}
	
	
	

/* header */

	/* header nav */
	
	header .nav li {
		padding-top: 5px;
		padding-bottom: 4px;
	}
	
	header .navbar-nav > li > a {
		padding: 5px 15px;
	}
	
	nav {
		font-size: 1.1em;
	}
	
	.navbar > .container-fluid .navbar-brand {
		margin-left: .2em;
		width: 100%;
		background-size: 100%;
	}
	
	header .nav li.alerts .im,
	header .nav li.messages .im {
		font-size: 1.8em;
	}
	
	header .nav .number {
		font-size: .7em;
		text-align: center;
		padding-top: 1px;
		height: 22px;
		width: 22px;
			top: .7em;
			right: 1.3em;
	}
	
	header .nav .dropdown {
		padding: 10px 0 15px 15px;
	}
	
	header .nav .dropdown li {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.user-image {
		margin: .1em .5em 0 0;
		height: 40px;
		width: 40px;
		background: url(../images/default-user-image.gif) 0 0 no-repeat;
		background-size: 100%;
	}
	
	ul.dropdown-menu li.header {
		margin-left: -1px;
	}
	
	header:after {
		content: ' ';
		margin: 0 1em -1px 0;
		display: block;
		height: 1px;
		background: #cccccc;
	}


/* content structure */	

.main.wrapper,
.tabnav ul { 
	display: table;
	width: 100%;
}

.main.wrapper {
	padding-right: 1em;
}

nav.sidenav { /* full width */
	padding: 10px 20px;
	display: table-cell;
	vertical-align: top;
	width: 265px;
}

div.main.wrapper + div.inner {
	display: table-cell;
	vertical-align: top;
}

/*  left sidebar */

.sidenav .user-info {
	margin-bottom: 1.2em;
}

.sidenav .user-name {
	font-size: 1.25em;
}

.sidenav .user-role,
.sidenav .user-edit {
	font-size: 1em;
	line-height: 1.4em;
}

.sidenav .user-image {
	width: 70px;
	height: 70px;
}

.nav-sections li {
	margin: .1em 0 .2em 0;
	padding: .1em 0 .1em .5em;
}

.nav-sections li.divider {
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 1.7em;
	padding: 3px 0 10px 0;
}

/*  top tabbed nav */

.tabnav li a {
	font-size: 1.2em;
	padding: 16px 32px; 
}

.tabnav li.buttonly a {
	font-size: 1em;
	margin: 10px;
	padding: 8px 12px 8px 40px;
}

.tabnav li.buttonly a .im {
	top: 2px;
	left: 5px;
}


/* content */

/* project builder top */

.section.title {
	font-size: 1.4em;
}

.group {
	padding-bottom: 1em;
}

.group.last {
	padding-bottom: 2em;
}

.group.date, 
.group.repeats {
	padding-bottom: 0;
}

.group .dropdown,
.instructions .dropdown {
	margin-bottom: .3em;
		top: -4px;
}

.group .dropdown-menu,
.group .sub,
.instructions .dropdown-menu,
.item input[type="text"],
.item input[type="textarea"],
.btn.btn-default.dropdown-toggle {
	width: 300px;
}

.group .sub {
	margin-left: 115px; 
}

.group .dropdown-menu {
	left: 115px;
}

.group .sub .selected-item {
	padding: 14px 0 12px 0;
	width: 245px;
}

.remove {
	font-size: .75em;
	padding-top: 14px;
}

.repeats-selection,
.group {
	margin-top: 1.3em;
} 

.repeats-setter.value {
	top: -2px;
}

.description .value {
	font-size: .95em;
	float: none;
		left: 0;
}

.group .plainLabel,
.instructions .plainLabel {
	margin-right: 15px;
}

.plainLabel {
	text-align: right;
	margin-right: 10px;
	width: 100px;
}

.date.group .plainLabel {
	margin-right: 10px;
	top: 8px;
}

.project .description.group {
	padding-bottom: 2em;
}

.content .dropdown-menu li a {
	white-space: normal;
}

.group .sub .plainLabel,
.instructions .item .sub .plainLabel {
	text-align: left;
	margin-right: 0;
	width: auto;
}

.sub.more-info,
.instructions .item .actions {
	font-size: .85em;
}

.sub.more-info input[type="text"] {
	text-align: center;
	margin-top: -5px;
	padding: 2px 4px;
	width: 60px;
}

.skills .more-info input[type="text"],
.group.group .more-info input[type="text"] {
	float: right;
}

.group .more-info input[type="radio"] {
	margin-top: 1px;
}

.group .more-info input[type="checkbox"] {
	top: -1px;
}

.group.clients .more-info .wrapper {
	margin-right: 2.5em;
}

.sub.more-info .plainLabel {
	margin-right: 8px;
}

.group.additional .sub {
	padding-top: 0;
}

.group.additional .sub .plainLabel {
	margin-bottom: 0;
}

/* widgets */

.instructions > .ti {
	font-size: 1.1em;
	margin: .5em 0 1em 0;
}

.expander {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.expander a {
	padding: .4em 1.6em .8em 2em;
}

.expander .im {
	top: .3em;
}

.header .controls,
.header .actions {
	padding: 8px 10px 0 10px;
}

.header .actions {
	padding-bottom: 6px;
}

.header .controls .im,
.header .actions .im {
	font-size: 1.4em;
}

.header .dragger {
	z-index: 1;
}

.header .arrow,
.header .controls .ti {
	z-index: 2;
}

.header .controls .ti {
	font-size: 1.6em;
	padding-right: 2em;
}

.header .icon-dragger {
	 top: -2px;
}

.header .icon-arrow {
	top: -1px;
}

.header .controls .arrow {
	padding-left: 2em;
		right: .7em;
}

.header .actions .ti {
	font-size: 1.2em;
}

.instruction {
	margin-bottom: 1.5em;
}

.instruction-content {
	padding: 1.2em 1em 1em 1em;
}

.instructions .item {
	padding-bottom: 1.7em;
}

.instructions .item .plainLabel {
	width: 135px;
}

.instruction-content .sub {
	margin-left: 150px;
}

.instruction-content .dropdown-menu {
	left: 150px;
}

.item input[type="text"],
.item input[type="textarea"] {
	margin-top: -.5em;
}

.item.time-estimate input[type="text"] {
	margin-right: .5em;
	width: 50px;
}

.time-estimate .plainLabel {
	margin-top: .4em;
}

.instructions .sub.more-info {
	margin-top: .7em; 
}

.instructions .item .actions {
	padding: 1em 0;
}

.instructions .item .actions a.buttonly {
	padding: .5em 1.5em;
}

.instructions .primary.actions {
	margin: 1em 0 0 2em;
}

.instructions .primary.actions:before {
	content: ' ';
	display: inline-block;
	margin-bottom: 1.5em;
	height: 1px;
	width: 100%;
		right: -1em;
}

.primary.actions a {
	margin-left: .5em;
	padding: .3em 3em;
}

.primary.actions a.delete {
	padding: .3em 1.5em;
}





/* heredeb */



 

/* project builder responsive reformat */

@media (min-width: 575px) {

	.section.title .navly:after {
		content: '/';
		padding: 0 .3em;
	}

}
	
/* ios fix for modal with keyboard */

.modal-ios {
	position: absolute;
	overflow: visible
}

/* ie10 & 11 --- also will be picked up by ie9 */

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='Trident'] {
	/* fixes here */
}	

/* customize bootstrap's responsive behavior */

@media (min-width: 575px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
	
	.navbar-header {
		float: left;
	}
	
	.navbar-toggle {
    display: none;
  }
	
	.navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
	
  .navbar-right {
    float: right !important;
  }
	.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
 

}

/* necessary to overwrite bootstrap */
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		width: auto;
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, .15);
		border-top: 0;
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	.navbar-nav .open .dropdown-menu > li > a {
		padding: .4em 4em .5em 1em;
	}
	.navbar-nav .open .dropdown-menu > li.last > a {
		padding-bottom: 1em;
	}
}


@media (max-width: 574px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: left;
    width: 100%;
    background-color: #ffffff;
		border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;	
		clear: both;			
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  
	header .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	header .nav li.buttonly {
		display: inline-block;
		float: left;
	}
	header nav .dropdown.open {
		background: transparent;
	}
	
	header .nav li.dropdown.open li {
		width: 100%;
	}
	.nav > li > a.dropdown-toggle {
		padding-left: 0;
	}
	a.navbar-brand,
	header .user-name,
	header .user-role,
	header .nav .dropdown.open ul.dropdown-menu li.header {
		display: none;
	}
	
	
}


/* - - - - - - - - - -
	 CSS3 form hints  
	 can not be combined with each other 
	 or anything else 
	 - - - - - - - - - -
*/

input::-webkit-input-placeholder { 
	color: #bcbcbc;
}

input:-ms-input-placeholder { 
	color: #bcbcbc;
}

input::-moz-placeholder { 
	color: #bcbcbc;
}

input:-ms-input-placeholder {
	color: #bcbcbc;
}

textarea::-webkit-input-placeholder { 
	color: #bcbcbc;
}

textarea:-ms-input-placeholder { 
	color: #bcbcbc;
}

textarea::-moz-placeholder { 
	color: #bcbcbc;
}

textarea:-ms-input-placeholder {
	color: #bcbcbc;
}

input.invalid::-webkit-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

input.invalid:-ms-input-placeholder { 
	color: #f24b41;
	opacity: .9;
}

input.invalid::-moz-placeholder { 
	color: #f24b41;
	opacity: .9;
}

input.invalid:-ms-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

textarea.invalid::-webkit-input-placeholder {
	color: #f24b41;
	opacity: .9;
}

textarea.invalid:-ms-input-placeholder { 
	color: #f24b41;
	opacity: .9;
}

textarea.invalid::-moz-placeholder { 
	color: #f24b41;
	opacity: .9;
}

textarea.invalid:-ms-input-placeholder {
	color: #f24b41;
	opacity: .9;
}
	
	
	
/* ---------- END CORE.CSS ---------- */	