/* ---------- CORE APP CSS ---------- */


/* fix iOS orientation resize bug */
html, body {
	-webkit-text-size-adjust: 100%;
}

/* everywhere */

html, body {
	font-family: Helvetica-Neue, Arial, sans-serif;
	background: #ffffff;
}

body {
	font-size: 1.4em;
}

.hide {
	display: none;
}

.pointermouse {
	cursor: pointer;
}

.defaultmouse {
	cursor: default;
}

.clearit:after {
  content: ' ';
	display: block;
	clear: both;
}

.center {
	text-align: center;
}

.left,
.right,
.navbar-brand,
header nav .number {
	display: inline-block;
}

.inline-left {
	display: inline-block;
	float: left;
}

.inline-right {
	display: inline-block;
	float: right;
}

header .navbar .user-info,
header .navbar .user-image,
header .navbar .user-info .inner,
header .navbar .dropdown-toggle {
	float: left;
}

header nav li a,
header nav li a .im {
	position: relative;
}

header nav .number {
	position: absolute;
}

header .navbar-collapse.in {
	overflow-y: visible;
}



.opacity100 {
	filter: alpha(opacity=100);
     -moz-opacity: 1;
          opacity: 1;
}

.transition  {
	-webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.smoother-animation {
	 transform: translate3d(0px,0px,0px);
	-webkit-transform: translate3d(0px,0px,0px);
	-webkit-backface-visibility: hidden;
}

header nav .number {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.navbar {
	border-radius: 0;
}

/* icon positioning */

.im:before {
	font-size: 1.7em;
	line-height: 1em;
}

.dropdown .im:before {
	margin-right: .1em;
}

/* borders */


.borders {
	border: 1px solid #cccccc;
}



ul.dropdown-menu li {
	border-top: 1px solid #cccccc;
}

header nav.navbar-default {
	border-bottom: 1px solid #cccccc;
}

.caret,
.navbar {
	border: 0px solid transparent;
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
}

header nav .dropdown-menu {
	border-top-width: 0px;
}

header .nav .dropdown li {
	border-left: 0px solid #ffffff;
}


/* boostrap customization */
	
	/* fix drop shadows */
	
	.dropdown-menu {
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	
	/* nav */
	
	.navbar {
		min-height: 1px;
		margin-bottom: 0;
	}
	
	.navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
		float: left;
	}
	
	header .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
	
	/* dropdowns */
	
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: transparent;
	}
	
	header .nav ul.dropdown li {
		 padding: 0 0 0 0;
	}
	
	header .nav ul.dropdown-menu li.header {
		font-size: 1.1em;
		padding: .3em .5em .5em 1em;
	}
	
	.dropdown-menu {
		padding: 0 0 0 0;
	}
	
	.dropdown-menu > li > a {
		padding: .4em 4em .5em 1em;
	}
	
	.dropdown-menu > li.last > a {
		padding-bottom: 1em;
	}
	
	header nav .dropdown li a .im {
		top: .3em;
	}
	
	.nav > li > a.dropdown-toggle {
		padding-top: .3em;
	}
	
	.caret {
		font-size: 2em;
		margin-left: 2px;
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: top;
	}
	

/* header */

	/* header nav */
	
	header .nav li {
		padding-top: 5px;
		padding-bottom: 4px;
	}
	
	header .navbar-nav > li > a {
		padding: 5px 15px;
	}
	
	nav {
		font-size: 1.1em;
	}
	
	header .nav li.alerts .im,
	header .nav li.messages .im {
		font-size: 1.8em;
	}
	
	header .nav .number {
		font-size: .7em;
		text-align: center;
		padding-top: 1px;
		height: 22px;
		width: 22px;
			top: .7em;
			right: 1.3em;
	}
	
	header .nav .dropdown {
		padding: 10px 0 15px 15px;
	}
	
	header .nav .dropdown li {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.user-image {
		margin: .1em .5em 0 0;
		height: 40px;
		width: 40px;
		background: url(../images/default-user-image.gif) 0 0 no-repeat;
		background-size: 100%;
	}
	
	ul.dropdown-menu li.header {
		margin-left: -1px;
	}
	
	
	


	
	
/* ios fix for modal with keyboard */

.modal-ios {
	position: absolute;
	overflow: visible
}

/* ie10 & 11 --- also will be picked up by ie9 */

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='Trident'] {
	/* fixes here */
}	

/* customize bootstrap's responsive behavior */

@media (min-width: 575px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
	
	.navbar-header {
		float: left;
	}
	
	.navbar-toggle {
    display: none;
  }
	
	.navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
	
  .navbar-right {
    float: right !important;
  }
	.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
 

}

/* necessary to overwrite bootstrap */
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		width: auto;
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, .15);
		-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, .3);
	}
	.navbar-nav .open .dropdown-menu > li > a {
		padding: .4em 4em .5em 1em;
	}
}


@media (max-width: 574px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: auto;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
	header .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	header .nav li {
		display: inline-block;
		float: left;
	}
	header .nav li.dropdown.open,
	header .nav li.dropdown.open li {
		display: block;
	}
	.nav > li > a.dropdown-toggle {
		padding-left: 0;
	}
	a.navbar-brand,
	header .user-name,
	header .user-role,
	header .nav .dropdown.open ul.dropdown-menu li.header {
		display: none;
	}
	

	
	
}



	
	
	
/* ---------- END CORE.CSS ---------- */	