/* ------- 
temporary CSS Deborah uses 
while putting together html 
(don't import into the app :)
-------- */


.super {
	display: none;
}

.modal table,
.modal tr,
.modal td {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.modal > td {
	width: auto;
}




